{% extends 'base.html' %}

{% block content %}
    <h3 class="text-center">{{user.username}}</h3>
    <hr>
    {% if request.user.id == user.id%}
        <a class="btn btn-primary" href="{% url 'home:post_create' %}">Create Post</a>
        <br><br>
    {% endif %}

    {% if request.user.id != user.id and not is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and  is_following %}
        <a class="btn btn-primary" href="{% url 'account:user_unfollow' user.id %}">UnFollow</a>
    {% endif%}
    
    <div class="card">
        {% for post in posts %}
                <a href="{{post.get_absolute_url}}" class="card-bady">{{post.body | truncatewords:8}}</a>
        {% endfor %}
    </div>
{% endblock %}